@page "/students"

<h1>Students</h1>

<hr/>

@if (_myDbModel != null)
{
    <h4 class="text-@_operation.Color()">
        @_operation.Title()
    </h4>

    <hr/>

    @if (!string.IsNullOrEmpty(_myDbModel.Message))
    {
        <h1 class="text-warning">
            @_myDbModel.Message
        </h1>
    }

    @if (_operation == Operations.List)
    {
        <table class="table table-striped">

            <thead>
            <tr>
                <th>
                    <button class="btn btn-outline-@Operations.Add.Color()"
                            @onclick="() => OnClick_Operation(Operations.Add)">
                        @Operations.Add.Title()
                    </button>
                </th>
                @foreach (var prop in GetProperties<Model>())
                {
                    <th>@prop.Name</th>
                }

            </tr>
            </thead>
            <tbody>
            @foreach (var item in _myDbModel.Items)
            {
                <tr>
                    <td>
                        <div class="btn-group">
                            @foreach (var operation in new[] { Operations.Update, Operations.Remove })
                            {
                                <button class="btn btn-outline-@operation.Color()"
                                        @onclick="() => OnClick_Operation(operation, item.Id)">
                                    @operation.Title()
                                </button>
                            }
                        </div>
                    </td>

                    @foreach (var prop in GetProperties<Model>())
                    {
                        <td>@(prop.GetValue(item))</td>
                    }
                </tr>
            }
            </tbody>
        </table>
    }

    @if (new[] { Operations.Add, Operations.Update, Operations.Remove }.Contains(_operation))
    {
        @foreach (var prop in GetProperties<Model>().Where(p => p.Name != "Id"))
        {
            <div class="input-group mb-1" style="width: 300px!important;">
                <div class="input-group-text" style="width: 100px!important;">@prop.Name</div>
                <input type="text" class="form-control" value="@(_model[prop.Name])"
                       @onchange="@((e) => OnChange_Input(prop.Name, e.Value))"/>
            </div>
        }

        <div class="btn-group" style="width: 300px!important;">

            <button class="btn btn-outline-@Operations.Cancel.Color()"
                    style="width: 100px!important;"
                    @onclick="() => OnClick_Cancel()">
                @Operations.Cancel.Title()
            </button>

            <button class="btn btn-@_operation.Color()"
                    style="width: 200px!important;"
                    @onclick="() => OnClick_Save()">
                @_operation.Title()
            </button>

        </div>
    }
}

@using System.Reflection
@using Microsoft.JSInterop

@using Attributes
@using Extensions
@using MyDbModels
@using Providers


@inject IMyDbModel<Model> _myDbModel
@inject IMyDbModel_Provider _myDbModel_Provider
@inject IJSRuntime JS

@code {
    #region Fields

    Operations _operation = Operations.List;

    Model _model = new();

    #endregion

    #region OnAfterRenderAsync

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await GetItems();
        }
    }

    #endregion

    #region GetItems

    async Task GetItems()
    {
        _operation = Operations.List;

        await _myDbModel_Provider
            .Execute<Model>(_myDbModel, "sp_Students");

        StateHasChanged();
    }

    #endregion

    #region OnClick_ Input, Operation, Save, Cancel

    private void OnChange_Input(string name, object value) =>
        typeof(Model).GetProperty(name).SetValue(_model, value);

    private void OnClick_Operation(Operations operation, int? id = 0)
    {
        _operation = operation;

        if (_operation == Operations.Add)
            _model = new Model();
        else
            _model = _myDbModel
                .Items
                .FirstOrDefault(f => f.Id == id) ?? new Model();
    }

    private async void OnClick_Save()
    {
        var jsonvalues = _model.ItemToJson();

        var results = await _myDbModel_Provider
            .SetItems<MyDbModel_Result_KeyValue<string, bool>>("sp_Student_Add_Update_Remove"
                , ("operation", _operation.ToString().ToLower())
                , ("jsonvalues", jsonvalues)
            );

        var result = results.FirstOrDefault();

        await JS.InvokeVoidAsync("alert", $"{result.Key} : {result.Value}");

        await GetItems();
    }

    private void OnClick_Cancel() => _operation = Operations.List;

    #endregion

    #region Models

    private IEnumerable<PropertyInfo> GetProperties<T>() where T : class, new() =>
        typeof(T)
            .GetProperties()
            .Where(p => p.GetIndexParameters().Length == 0);

    class Model
    {
        public int Id { get; set; }
        public string Name { get; set; }
        public string Surname { get; set; }

        public object this[string name]
        {
            get => this.GetType().GetProperty(name).GetValue(this);
            set => this.GetType().GetProperty(name).SetValue(this, value);
        }
    }

    #endregion

    #region Enums

    enum Operations
    {
        //attribute
        [Color("info"), Title("List")] List,
        [Color("success"), Title("Add")] Add,
        [Color("warning"), Title("Update")] Update,
        [Color("danger"), Title("Remove")] Remove,
        [Color("dark"), Title("Cancel")] Cancel
    }

    #endregion
}

